

#container-search{
    background-color: aliceblue;
    border: 2px solid red;
}

#adaugare-medic{
    border: 3px solid green;
}

#adaugare-medic-row{
    border: 2px solid red;
    width: 75%;
    margin-left: 14.5rem;
}

