/* 1 section-top (prima sectiune din pagina) */
/* .section-top-left{
    font-size: 13px;
    margin-left: 15rem;
}

.section-top-left p{
    height: 100%;
    display: flex;
    align-items: center;
}

.section-top-right{
    display: flex;
    font-size: 13px;
    margin-right: 15rem;
}

.section-top-right a{
    padding: 0rem .5rem;
    text-decoration: none;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

#section-top-id{
    display: flex;
    justify-content: space-between;
}    */

/* ------------------------------------------- */
/* 1.1 - sectiunea de sus, titlu navigatie si autentificarea */
/* 1.2 - cautarea medicului */
/* 1.3 - sectiune 1 medici */
/* 1.4 - sectiune 2 */
/* 1.5 - footer */


/* 1.1 section-hero (titlu, nav-link, auth) */
.nav-item {
    list-style: none;
    margin-left: 10rem;
}

.nav-link{
    padding: 1.75rem 1rem;
    background-color: white;
}

#section-hero{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: #23B7F1;
}
.header-title{
    margin-left: 15rem;
    width: max-content;
}
.header-auth{
    margin-right: 15rem;
    width: 14%;
    display: flex;
    justify-content: space-between;
}

#title{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    height: 100%;
    display: flex;
    align-items: center;
}

#home{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    color:black;
    width: 50%;
}

#auth{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    color:black;
    width: 50%;
    transition: .3s ease-in-out;
}

#auth:hover{
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}

#inregistrare {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: white;
    color:black;
    width: 50%; 
    transition: .3s ease-in-out;
}

#inregistrare:hover{
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}

#nav-links{
    background-color: black;
    border-top:1px solid white;
    padding-top: 1rem;
}

#nav-links .nav-list{
    list-style: none;
    width: 100%;
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    padding-left:0;
}

#nav-links .nav-list a{
    text-decoration:none;
}

#nav-links .nav-list li{
    border-right: 1.5px solid gray;
    padding: 1rem;
    background-color: white;
    color:black;
    transition: .3s ease-in-out;
}

#nav-links .nav-list li:hover{
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}

/* 1.2 cautare-medic */
.search{
    /* border: 2px solid green; */
    padding: 2rem;
}

#search-div{
    margin-left: 14rem;
    margin-right: 14rem;
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
}
#search-div input {
width: 100%;
}
#nume{
    border: 2px solid black;
}

#container-search{
    display: flex;
}

/* 1.3 sectiune 1 medici */
.section-1-medici{
    background-color: black;
    height: 35rem;
}

#medici {
    margin-left: 14rem;
    margin-right: 14rem;
    height: 10rem;
    border-bottom: 1px solid white;
}

.imagine-medic{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
    border-left: 1.5px solid white;
    width: 20%;
}

.nume-medic{
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 1.5px solid white;
    width: 25%;
}

.descriere-medic{
    border-right:1.5px solid white;
    width: 30%;
}

.medic{
    display: flex;
    height: 100%;
    padding-right: 2rem;
    margin-right: 2rem;
    color:white;
    width: 100%;
    margin-right: 0;
}

/* 1.4 sectiune 2 */
.sectiune-2{
    height: 30rem;
}

#section-details{
    padding-top: 5rem;
    margin-left: 18rem;
    margin-right: 12rem;
    display:flex;
}

.story{
    padding: 1.5rem;
    border-radius: 1rem;
    width: 50%;
    background-color: black;
    color: white;
}
.image{
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 1.5 footer */
.last-section{
    padding: 1rem 0rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
#footer{
    margin-left: 15rem;
    margin-right: 15rem;
    display:flex;
}

.story-footer-1{
    width: 50%;
}
.story-footer-2{
    padding-left: 1.5rem;
    width: 10%;
}
.story-footer-3{
    width: 10%;
    padding-left: 1.5rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}